.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	row-gap: 25px;
	padding: 50px 0;
	background: var(--olive-clr);
	color: var(--brown-clr);
	font-family: "Playpen Sans", cursive;
}

.footer__btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.creator__link {
	display: block;
	background: var(--brown-clr);
	color: var(--olive-clr);
	padding: 5px;
	border-radius: 10px;
	margin-top: 5px;
	width: max-content;
}
